* {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 10;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.133);
}

h1,
h2 {
  margin: 0;
  font-family: Oswald;
  font-weight: 200;
  color: rgba(#fff, 0.7);
  font-size: 5rem;
}

.parallax {
  position: relative;
  width: 100vw;
  height: 50vw;
  transform-origin: bottom center;
  will-change: transform;
  transform: translate3d(0, calc(var(--pct) * 35%), 0)
    scale3d(calc(var(--pct) / 2 + 1), calc(var(--pct) / 2 + 1), 1);
}

.parallax div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  transform-origin: bottom center;
  transform: translate3d(0, 0, 0);
}

.zoom-parallax-header {
  overflow: hidden;
  box-shadow: inset 0 -4em 4em -4em #2b110e;
}
.page {
  background-color: gray;
}

.zoom-parallax-main {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  border-top: 1px solid lighten(#2b110e, 5%);
  padding: 2em 1em 4em;
  max-width: 1000px;
  margin: 0 auto;
}

.hide-parallax {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  perspective: 3px;
}

section {
  background-size: cover;
  color: white;
  background-color: var(--bg, --color-black);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.image {
  background-position: center center;
  transform: translateZ(-1px) scale(1.5);
  background-size: cover;
  z-index: -1;
  height: 100vh;
}

section.text {
  display: flex;
  flex-direction: column;
  height: 70vh;
}

section.heading {
  z-index: -1;
  transform: translateY(-30vh) translateZ(1px) scale(1.5);
}
